@model Online_razmjena.Models.ZamjenaModel

@{
    ViewData["Title"] = "Napravi";
}

<h1>Napravi</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nacin" class="control-label"></label>
                <input asp-for="Nacin" class="form-control" />
                <span asp-validation-for="Nacin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Natrag</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
