@model Zamjena

@{
    ViewData["Title"] = "Izbriši";
}

<h1>Izbriši</h1>

<h3>Jeste li sigurni?</h3>
<div>
    <h4>ZamjenaModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nacin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nacin)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ZamjenaId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Natrag</a>
    </form>
</div>
