@model Zamjena

@{
    ViewData["Title"] = "Detalji";
}

<h1>Detalji</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nacin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nacin)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ZamjenaId">Edit</a> |
    <a asp-action="Index">Natrag</a>
</div>
