@{
    ViewData["Title"] = "Objave";
}
@model IEnumerable<Post>

@*<p>
    @using (Html.BeginForm("Index", "Slicice", FormMethod.Get))
    {
        @Html.TextBox("search")<input style="margin-left:4px;" type="submit" value="Pretraži" />
    }
</p>*@
<div class="container">
    <h3 class="display-4">Objave</h3>
    <div class="row">

        @foreach (var post in Model)
        {
            <div class="col-md-4">
                <partial name="_postThumbnail" model="@post" />
            </div>
        }

    </div>
</div>
