@{
    ViewData["Title"] = "Objave";
}
@model IEnumerable<Post>

<p>
    @using (Html.BeginForm("Index", "Home", FormMethod.Get))
    {

        <div class="input-group">
            @Html.TextBox("search")
            <div class="input-group-append">
                <button class="btn btn-primary" type="submit">Search</button>
            </div>
        </div>

    }
</p>
<div class="container">
    <h3 class="display-4">Objave</h3>
    <div class="row">

        @foreach (var post in Model)
        {
            <div class="col-md-4">
                <partial name="_postThumbnail" model="@post" />
            </div>
        }

    </div>
</div>
