@{
    ViewData["Title"] = "Sličice";
}
@model IEnumerable<SliciceModel>

<p>
    @using (Html.BeginForm("Index", "Slicice", FormMethod.Get))
    {

    <div class="input-group">
        <span class="font-weight-bold">Naziv: </span>&nbsp;&nbsp;
        @Html.TextBox("search")&nbsp;&nbsp;
        <span class="font-weight-bold">Album: </span>&nbsp;&nbsp;
        @Html.DropDownList("select", ViewBag.Albumi as SelectList)&nbsp;&nbsp;
        <span class="font-weight-bold">Broj Sličice: </span>&nbsp;&nbsp;
        @Html.TextBox("broj")
        <div class="input-group-append">
            <button class="btn btn-primary" type="submit">Search</button>
        </div>
    </div>

    }
</p>
<div class="container">
    <h3 class="display-4">Sličice</h3>
    <div class="row">

        @foreach (var slicica in Model)
        {
            <div class="col-md-4">
                <partial name="_sliciceThumbnail" model="@slicica" />
            </div>
        }

    </div>
</div>
